<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a post</title>
</head>
<body>
    <h1>Create post</h1>
<form method="post" action="/CreatePost">

    <div id="SelectPet">
        <label for="pet">Selet pet:</label>
        <select id="pet">
        </select>
    </div>

    <div id="AddNewPet">
        <label for="newpet">Add new pet:</label>
            <input id="newpet" name="newpet" placeholder="newpet" type="checkbox">
    </div>

    <div id="PetName">
        Name:<input id="name" name="name" placeholder="name" type="text">
    </div>

    <div id="Genders">
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value = "MALE">male</option>
            <option value = "FEMALE">female</option>
        </select>
    </div>

    <div id="AgeGroup">
        <label for="age">Age Group:</label>
        <select id="age" name="size">
            <option value = "YOUNG">young</option>
            <option value = "ADULT">adult</option>
            <option value = "ELDER">elder</option>
        </select>
    </div>

    <div id="Sizes">
        <label for="size">Size:</label>
        <select id="size" name="size">
            <option value = "XSMALL">extra small</option>
            <option value = "SMALL">small</option>
            <option value = "MEDIUM">medium</option>
            <option value = "LARGE">large</option>
            <option value = "XLARGE">extra large</option>
        </select>
    </div>

    <div id="Species">
        <label for="specie">Species:</label>
        <select id="specie" name="specie">
            <option value = "CAT">cat</option>
            <option value = "DOG">dog</option>
            <option value = "BIRD">bird</option>
        </select>
    </div>

    <div id="Breeds">
        Breed:<input id="breed" name="breed" placeholder="breed" type="text">
    </div>

    <div id="UploadImages">
        URL of Image:<input id="image" name="image" placeholder="image" type="text">
       <!-- <label for="upload">Image:</label>
        <input id="upload" type="file" accept="image/*">
        <input type="submit">-->
    </div>
    <input id="SubmitPost" type="submit">
</form>
</body>
</html>